<form role="form">
  {{#view App.FormGroup errorsBinding="errors.title"}}
    <label for="article-title" class="control-label">Title</label>
    {{view Ember.TextField valueBinding="title"  id="article-title" placeholder="What's your title?" class="form-control"}}
  {{/view}}

  {{#view App.FormGroup errorsBinding="errors.description"}}
    <label for="article-description" class="control-label">TL;DR</label>
    {{view Ember.TextArea valueBinding="description" id="article-description" placeholder="A short summary" class="form-control"}}
  {{/view}}

  {{#view App.FormGroup errorsBinding="errors.tag_list"}}
    <label for="article-tags" class="control-label">Tags</label>
    {{view Ember.TextField valueBinding="tag_list" id="article-tags" placeholder="Tags" class="form-control"}}
  {{/view}}

  {{#view App.FormGroup errorsBinding="errors.collection"}}
    <label for="article-collection" class="control-label">Collection</label>
    {{view Ember.Select
         contentBinding="controllers.currentUser.collections"
         valueBinding="collection"
         optionValuePath="content"
         optionLabelPath="content.name"
         prompt="Please select a collection"
         id="article-collection"
         class="form-control"
    }}
  {{/view}}

  <div class="form-group">
    <button type="submit" class="btn btn-default" {{action "save" this}}>Clip Article</button>
  </div>
</form>
